<div class="page-header">
  <h3>Mars Images</h3>
</div>
 
<div id="my-images">
  <%= render partial: "image", collection: @images %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate @images %>
</div>